---
http_interactions:
- request:
    method: get
    uri: http://www.masslottery.com/data/json/search/dailygames/todays/keno.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 10 Mar 2015 17:54:01 GMT
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: "{\n\t\"min\":\"1682381\",\n\t\"max\":\"1682513\",\n\t\"date\":\"03/10/2015\",\n\t\"day\":\"Tuesday\",\n\t\"draws\":[\n\t\t{\"draw_id\":\"1682381\",\"jackpot\":\"$39\",\"winning_num\":\"02-03-04-05-12-20-39-41-45-47-52-56-57-60-62-64-70-73-77-79\",\"bonus\":\"No
        Bonus\"},\n\t\t{\"draw_id\":\"1682382\",\"jackpot\":\"$60\",\"winning_num\":\"01-03-08-13-14-15-21-26-27-28-35-38-40-43-45-53-55-60-61-69\",\"bonus\":\"No
        Bonus\"},\n\t\t{\"draw_id\":\"1682383\",\"jackpot\":\"$14\",\"winning_num\":\"05-06-07-10-11-13-14-18-19-22-24-28-29-30-42-49-50-51-56-70\",\"bonus\":\"No
        Bonus\"},\n\t\t{\"draw_id\":\"1682384\",\"jackpot\":\"$38\",\"winning_num\":\"03-05-06-11-18-21-25-28-31-38-49-50-65-67-69-71-72-73-76-78\",\"bonus\":\"No
      [...]
