---
http_interactions:
- request:
    method: get
    uri: http://www.masslottery.com/data/json/search/dailygames/history/keno/201404.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 01 May 2014 13:26:48 GMT
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: "{\n\t\"min\":\"1583982\",\n\t\"max\":\"1592565\",\n\t\"days_of_month\":\"30\",\n\t\"draws\":[\n\t\t{\"draw_id\":\"1583982\",\"draw_date\":\"04/01/2014\",\"winning_num\":\"01-02-08-10-15-18-21-32-34-37-38-40-43-63-69-70-71-75-76-77\",\"bonus\":\"No
        Bonus\"},\n\t\t{\"draw_id\":\"1583983\",\"draw_date\":\"04/01/2014\",\"winning_num\":\"03-06-08-09-12-13-17-27-28-35-40-43-47-57-64-68-69-75-77-80\",\"bonus\":\"No
        Bonus\"},\n\t\t{\"draw_id\":\"1583984\",\"draw_date\":\"04/01/2014\",\"winning_num\":\"04-05-09-11-13-19-21-24-29-30-31-36-39-42-44-57-60-61-70-80\",\"bonus\":\"3x\"},\n\t\t{\"draw_id\":\"1583985\",\"draw_date\":\"04/01/2014\",\"winning_num\":\"05-10-12-14-22-28-33-35-37-38-47-50-56-57-67-71-72-74-76-80\",\"bonus\[...]
