---
http_interactions:
- request:
    method: get
    uri: http://www.masslottery.com/data/json/search/dailygames/history/keno/201503.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 01 Apr 2015 12:50:02 GMT
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: "{\n\t\"min\":\"1679813\",\n\t\"max\":\"1688742\",\n\t\"days_of_month\":\"31\",\n\t\"draws\":[\n\t\t{\"draw_id\":\"1679813\",\"draw_date\":\"03/01/2015\",\"winning_num\":\"04-16-18-21-22-23-24-27-31-32-34-47-52-56-57-61-68-69-75-77\",\"bonus\":\"3x\"},\n\t\t{\"draw_id\":\"1679814\",\"draw_date\":\"03/01/2015\",\"winning_num\":\"01-02-03-13-14-15-16-28-30-31-34-35-40-45-49-54-60-64-66-71\",\"bonus\":\"No
        Bonus\"},\n\t\t{\"draw_id\":\"1679815\",\"draw_date\":\"03/01/2015\",\"winning_num\":\"01-02-04-08-14-15-22-29-44-45-50-51-54-62-63-66-69-73-75-79\",\"bonus\":\"4x\"},\n\t\t{\"draw_id\":\"1679816\",\"draw_date\":\"03/01/2015\",\"winning_num\":\"03-06-07-08-10-17-18-23-25-27-30-36-39-41-45-59-66-68-73-80\",\"bonus\":\"No
       [...]
