<div class="center jumbotron">
  <h1>Welcome to Keno Checker</h1>

  <h2>
    This is the home page for the
    <%= link_to "Keno Checker App!", root_path %>
  </h2>
  <%= render 'games/search' %>
</div>
