<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ticket</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>
          <%= label :numbers, :numbers %>
          <%= @ticket.numbers %>
          </li>
          <li>
          <%= label :game_date, :game_date %>
          <%= @ticket.game_date %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
