<%= form_for(:game, url: search_games_path, method: :get) do |f| %>
  <div class="form-group">
    <div class="col-xs-3">
    <%= f.text_field :game_number, placeholder: 'Game Number',
      autocomplete: "off", class: "form-control" %>
  </div>
    </div>
    <div class="form-group">
      <%= f.submit "Find Numbers", class: "btn" %>
    </div>
  <% end %>
